<div class="w-[100%] flex flex-col justify-center items-center mt-[120px] z-[0]">
        <p class="permanent-marker text-[var(--text-color)] font-[300] lg:text-4xl text-3xl text-center">Your Volatility Stock Options Scanner</p>
        <p class="sour-gummy text-[var(--text-color)] font-[300] lg:text-2xl text-xl text-center opacity-70 mt-2 mx-4 z-[-1]">Find the best upcoming stocks next earnings report!</p>
        <button class="sour-gummy text-[var(--text-color)] font-[400] text-lg bg-[var(--bg-main)] hover:bg-[var(--bg-main-hover)] transition-all ease-in duration-150 rounded-md px-16 py-1 mt-6 flex flex-row items-center justify-center">See Scanner 
            <img src="{{url_for('static', filename='external-link.png')}}" alt="Link" draggable="false" class="object-contain max-h-[20px] ml-4 invert-[var(--invert)] transition-all ease-in duration-150 z-[0]"/>
        </button>

        <div class="w-[100%] mx-auto mt-6 rounded-lg min-h-auto flex flex-col">
            <img src="{{url_for('static', filename='Container1.png')}}" alt="Landing Container" draggable="false" class="max-w-[100%] h-[600px]"/>

            <div class="w-[90%] flex flex-col -mt-[560px] h-[520px] mx-auto rounded-lg overflow-hidden z-[2]">
                <div class="w-[100%] h-[70px] flex flex-row px-1">
                    <img src="{{url_for('static', filename='Logo_transparent.png')}}" alt="Logo" draggable="false" class="max-w-[70px] h-[70px]"/>
                </div>

                <div class="w-[100%] min-h-auto flex flex-row justify-center overflow-hidden">
                    <div class="w-[20%] flex flex-col gap-y-[20px] mx-2">
                        <p class="sour-gummy text-[#e0e0e0] font-[300] lg:text-xl text-lg opacity-90 z-[-1] text-center">Stock</p>

                        <img src="{{url_for('static', filename='apple.png')}}" alt="Apple" draggable="false" class="max-w-[40px] max-h-[40px] invert mx-auto"/>
                        <img src="{{url_for('static', filename='amd.png')}}" alt="Apple" draggable="false" class="max-w-[40px] max-h-[40px] invert mx-auto"/>
                        <img src="{{url_for('static', filename='netflix.png')}}" alt="Apple" draggable="false" class="max-w-[40px] max-h-[40px] invert mx-auto"/>
                        <img src="{{url_for('static', filename='google.png')}}" alt="Apple" draggable="false" class="max-w-[40px] max-h-[40px] invert mx-auto"/>
                        <img src="{{url_for('static', filename='nvidia.png')}}" alt="Apple" draggable="false" class="max-w-[40px] max-h-[40px] invert mx-auto"/>
                        <img src="{{url_for('static', filename='microsoft.png')}}" alt="Apple" draggable="false" class="max-w-[40px] max-h-[40px] mx-auto"/>
                    </div>

                    <div class="w-[40%] flex flex-col lg:gap-y-[32px] gap-y-[35px]">
                        <p class="sour-gummy text-[#e0e0e0] font-[300] lg:text-xl text-lg opacity-90 z-[-1] text-center">Considerations</p>

                        <p class="sour-gummy text-[var(--text-recommended)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center -mt-1">⬤ Recommended</p>
                        <p class="sour-gummy text-[var(--text-consider)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center">⬤ Consider</p>
                        <p class="sour-gummy text-[var(--text-consider)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center">⬤ Consider</p>
                        <p class="sour-gummy text-[var(--text-avoid)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center">⬤ Avoid</p>
                        <p class="sour-gummy text-[var(--text-avoid)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center">⬤ Avoid</p>
                        <p class="sour-gummy text-[var(--text-recommended)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center">⬤ Recommended</p>
                    </div>

                    <div class="w-[30%] flex flex-col lg:gap-y-[32px] gap-y-[35px]">
                        <p class="sour-gummy text-[#e0e0e0] font-[300] lg:text-xl text-lg opacity-90 z-[-1] text-center">Forecast</p>
                        <p class="sour-gummy text-[var(--text-forecast)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center -mt-1">📈 6.84%</p>
                        <p class="sour-gummy text-[var(--text-forecast)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center ">📈 2.13%</p>
                        <p class="sour-gummy text-[var(--text-forecast)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center ">📈 3.55%</p>
                        <p class="sour-gummy text-[var(--text-forecast-bad)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center ">📉 0.43%</p>
                        <p class="sour-gummy text-[var(--text-forecast-bad)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center ">📉 4.78%</p>
                        <p class="sour-gummy text-[var(--text-forecast)] font-[300] lg:text-lg text-md opacity-90 z-[-1] text-center ">📈 9.26%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>