<div class="fixed w-[100%] flex items-center justify-center">
    <nav class="w-[90%] mx-auto rounded-lg min-h-[60px] bg-[var(--nav-color)] drop-shadow-[0_0_10px_black]/20 sm:flex sm:justify-between z-[99] mt-4 overflow-hidden">
        
        <div class="space-x-2 flex flex-row justify-between items-center sm:w-auto w-[100%] h-[60px]">
            <img id="Logo" src="{{ url_for('static', filename='Logo.png') }}" draggable="false" alt="Logo" class="object-contain max-h-[60px] invert cursor-pointer hover:opacity-80 transition-all ease-in duration-150 px-2 py-1"/>

            <p onClick="openNav()" id="navigationArrow" class="text-2xl font-bold text-[var(--text-color)] pr-4 sm:hidden cursor-pointer hover:opacity-80 transition-all ease-in duration-150 px-4 py-4 rotate-0">⮟</p>
        </div>

        <div id="navigation" 
            class="sm:space-x-8 sm:space-y-0 space-y-4 flex sm:flex-row flex-col justify-center items-center sm:pr-[20px] sm:pb-0 overflow-hidden sm:h-[60px] transition-all duration-300 ease-in-out">
            <a href="/" class="text-[var(--text-color)] font-semibold text-lg hover:text-[#47a847] transition-all ease-in duration-150">Home</a>
            <a href="/" class="text-[var(--text-color)] font-semibold text-lg hover:text-[#47a847] transition-all ease-in duration-150">About</a>
            <a href="/" class="text-[var(--text-color)] font-semibold text-lg hover:text-[#47a847] transition-all ease-in duration-150">Market Scanner</a>
            <a href="https://github.com/AlexW03x/Stock-Options-Scanner" class="text-[var(--text-color)] font-semibold text-lg hover:text-[#47a847] transition-all ease-in duration-150">Open Source</a>
            <img onClick="changeColourMode()" id="colourMode" src="{{ url_for('static', filename='night-mode.png')}}" draggable="false" class="object-contain max-h-[40px] py-1 px-2 cursor-pointer hover:invert-[0.5] transition-all ease-in duration-150"/>
        </div>

    </nav>
</div>

<script>
    let navigation = false;
    //documentIDs
    let navbar = document.getElementById("navigation");
    let navArrow = document.getElementById("navigationArrow");
    let colourMode = document.getElementById("colourMode");
    let logo = document.getElementById("Logo");

    //functions
    window.onload = function () {
        navbar.classList.add("h-[0px]");
        navbar.classList.add("pb-[0px]");

        try{
            if("theme" in localStorage){
                if(localStorage.getItem("theme") == "dark"){
                    document.documentElement.classList.remove("light");
                    document.documentElement.classList.add("dark");
                    document.documentElement.setAttribute("data-theme", "dark");
                }
                else if(localStorage.getItem("theme") == "light"){
                    document.documentElement.classList.remove("dark");
                    document.documentElement.classList.add("light");
                    document.documentElement.setAttribute("data-theme", "light");
                }
                console.log("Theme fetched from storage!");
            }            
            else if(!("theme" in localStorage)){ //check if local storage has browser stored theme for context
            //check for current media colour scheme
                if(window.matchMedia("(prefers-color-scheme: dark)").matches){ //add theme based on context of tailwind preference if theme doesn't exist!
                    document.documentElement.classList.add("dark");
                    document.documentElement.setAttribute("data-theme", "dark");
                    localStorage.setItem("theme", "dark");
                }

                if(window.matchMedia("(prefers-color-scheme: light)").matches){
                    document.documentElement.classList.add("light"); 
                    document.documentElement.setAttribute("data-theme", "light");
                    localStorage.setItem("theme", "light");
                }
                console.log("Theme fetched from preference!");
            }

            addInverse(); //call this to automatically change the mode!
            console.log(localStorage.theme);
        }
        catch(exception){
            console.error(exception || "Failed to set defaultly stored theme!");
        }
    }

    function openNav(){
        navigation = !navigation; //inverse of nav 

        try{
            if(navigation == true){ //opened navigation
                navbar.classList.remove("h-[0px]", "pb-[0px]");
                navbar.classList.add("h-[250px]", "pb-[20px]");
                navArrow.classList.remove("rotate-0");
                navArrow.classList.add("rotate-180");
            }
            else{
                navbar.classList.remove("h-[250px]", "pb-[20px]");
                navbar.classList.add("h-[0px]", "pb-[0px]");
                navArrow.classList.remove("rotate-180");
                navArrow.classList.add("rotate-0");
            }
        }
        catch(exception){
            console.error(exception || "Failed to change navigation CSS!");
        }
    }

    //dark mode script
    function changeColourMode(){ //change website colour scheme to light or dark using tailwind root :dark, standard
        if(localStorage.getItem("theme") == "dark"){
            document.documentElement.classList.remove("dark");
            document.documentElement.classList.add("light");
            document.documentElement.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light")
        }
        else{
            document.documentElement.classList.remove("light");
            document.documentElement.classList.add("dark");
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");           
        }

        addInverse(); //to change the icon style
    }

    function addInverse(){
        //function to change the night mode image icon to light and so forth via CSS
        if(localStorage.getItem("theme") == "dark"){
            colourMode.classList.add("invert");
            logo.classList.remove("invert");
        }
        else{
            colourMode.classList.remove("invert");
            logo.classList.add("invert");
        }
    }
</script>