<nav class="w-[90%] mx-auto rounded-lg h-[60px] bg-white drop-shadow-[0_0_10px_black]/20 flex justify-between z-[99] mt-4 overflow-hidden">
    <img src="{{ url_for('static', filename='Logo.png') }}" draggable="false" alt="Logo" class="object-contain invert"/>

    <div class="space-x-8 flex justify-center items-center">
        <a href="/" class="text-black font-semibold text-lg hover:text-[#47a847] transition-all ease-in duration-150">Home</a>
        <a href="/" class="text-black font-semibold text-lg hover:text-[#47a847] transition-all ease-in duration-150">About</a>
        <a href="/" class="text-black font-semibold text-lg hover:text-[#47a847] transition-all ease-in duration-150">Market Scanner</a>
        <a href="/" class="text-black font-semibold text-lg hover:text-[#47a847] transition-all ease-in duration-150">Open Source</a>
    </div>
</nav>