<div class="w-full min-h-[600px] h-auto flex flex-col lg:-mt-[90px] -mt-[140px]">

    <p class="sour-gummy text-[var(--text-color)] font-[400] lg:text-3xl text-2xl text-center mt-12 mb-2">Market Scanner</p>
    <p class="sour-gummy text-[var(--text-color)] font-[400] lg:text-xl text-md text-center opacity-70 mx-4">Select Your Preferred Choice To Scan</p>



    <div class="w-auto max-w-full px-4 mx-auto h-[60px] rounded-md bg-[var(--bg-scanner)] mt-4 flex flex-row justify-center items-center gap-x-4 ">
        <select id="stockList" class="sour-gummy text-md text-white bg-[var(--bg-scanner2)] px-2 py-1 rounded-md max-w-[70%]" onchange="changeOptions()">
            <option value="nasdaq" class="bg-[var(--bg-scanner2)] text-white">NASDAQ 100</option>
            <option value="sp500" class="bg-[var(--bg-scanner2)] text-white" selected="selected">S&P 500</option>
            <option value="us30" class="bg-[var(--bg-scanner2)] text-white ">Dow Jones Industrial Average</option>
            <option value="custom" class="bg-[var(--bg-scanner2)] text-white">Custom (Comma Separated)</option>
        </select>

        <button class="sour-gummy text-md text-white bg-[var(--bg-scanner2)] px-4 py-1 rounded-md hover:opacity-70 transition-all ease-in duration-150" onClick="">Scan</button>
    </div>

    <div id="customSymbolsContainer" class="w-[90%] lg:w-[400px] sm:w-[350px] min-h-[100px] h-auto mx-auto flex flex-col hidden">
        <textarea id="customSymbols" placeholder="Enter your own ticker symbols here" class="sour-gummy text-[var(--text-color)] bg-[var(--bg-scanner2)] rounded-md h-[200px] mt-4 resize-none w-[100%] px-2 py-2" ></textarea>
        <p onclick="" class="sour-gummy text-sm text-[var(--text-color)] opacity-70 underline cursor-pointer hover:opacity-100 transition-all ease-in duration-150 mt-4 text-right">View Stock Symbols</p>
    </div>
</div>

<script type="text/javascript">
    let customContainer = document.getElementById("customSymbolsContainer"); // for our custom symbols support
    let stockDropdown = document.getElementById("stockList");

    function changeOptions(){
        let selectedOption = stockDropdown.value;

        if(selectedOption === "custom"){
            customContainer.classList.remove("hidden");
            customContainer.classList.add("flex");
            customContainer.classList.add("animate-load_in");
            setTimeout(() => {
                customContainer.classList.remove("animate-load_in");
            }, 500);
        }
        else if(selectedOption !== "custom"){
            customContainer.classList.remove("flex");
            customContainer.classList.add("animate-load_out");
            setTimeout(() => {
                customContainer.classList.add("hidden");
                customContainer.classList.remove("animate-load_out");
            }, 500);
        }
    }
</script>
