{% extends "base.html" %}

{% block title %}Home | Market Scanner{% endblock %}

{% block content %}
    <div class="w-[100%] flex flex-col justify-center items-center mt-[120px]">
        <p class="permanent-marker text-[var(--text-color)] font-[300] lg:text-4xl text-3xl text-center">Your Volatility Stock Options Scanner</p>
        <p class="sour-gummy text-[var(--text-color)] font-[300] lg:text-2xl text-xl text-center opacity-70 mt-2 mx-4">Find the best upcoming stocks next earnings report!</p>
    </div>
{% endblock %}
