:root {
  --bg-color: #e2dcdc;
  --text-color: #000000;
  --link-color: #47a847;
  --nav-color: #f3efef;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #6fcf97;
  --nav-color: #0a0a0a;
}

/* Apply variables to elements */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--link-color);
}

.permanent-marker {
  font-family: "Permanent Marker", cursive;
}


.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
}