:root {
  --bg-color: #e2dcdc;
  --text-color: #000000;
  --link-color: #47a847;
  --nav-color: #f3efef;

  /* button colours */
  --bg-main: #697068;
  --bg-main-hover: #6cbe49;


  /* functional */
  --invert: 0;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #6fcf97;
  --nav-color: #0a0a0a;

  /* button colours */
  --bg-main: #383d37;
  --bg-main-hover: #59b335;

  /* functional */
  --invert: 1;
}

/* Apply variables to elements */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--link-color);
}

.permanent-marker {
  font-family: "Permanent Marker", cursive;
}


.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
}

.quickTransition{
  transition: all ease-in 150ms;
}